*{margin:0px; padding:0px;}
body{font:12px/1.5 宋体, Arial, Helvetica, sans-serif; color:#000;}
ul{list-style-type:none;}
input,select,textarea{vertical-align:middle; font:12px/1.5 宋体, Arial, Helvetica, sans-serif; color:#000;}
a{color:#000; text-decoration:none;}
a:hover{color:#cb0000;}
em{font-style:normal;}
img{display:block; border:0px;}
.clearfix{overflow:hidden; zoom:1;}
.clear{clear:both; height:0px; font-size:0px; line-height:0px; overflow:hidden;}
.icons{float:left; font-size:0px; line-height:0px; overflow:hidden; display:inline; background:url(../images/icons.gif) no-repeat;}
.wrap{width:980px; margin:0px auto;}
.header{padding:23px 15px 9px;}
.logo{float:left; width:234px; height:66px; overflow:hidden; text-indent:-9999px; background:url(../images/logo.gif) no-repeat;}
.search{padding:12px 0px 0px 280px;}
.search .sInput{width:437px; height:30px; border:1px solid #cfcfcf; position:relative;}
.search .sInput .rc{width:2px; height:2px; position:absolute;}
.search .sInput .lt{background-position:0px 0px; left:-1px; top:-1px;}
.search .sInput .rt{background-position:-2px 0px; right:-1px; top:-1px;}
.search .sInput .lb{background-position:0px -2px; left:-1px; bottom:-1px;}
.search .sInput .rb{background-position:-2px -2px; right:-1px; bottom:-1px;}
.search .sInput input{float:left;}
.search .sInput .txt{width:345px; height:28px; line-height:28px; padding:0px 2px; border:1px solid #898989; border-right:0px;}
.search .sInput .btn{width:87px; height:30px; font-weight:bold; color:#FFF; background:url(../images/icons.gif) no-repeat -37px 0px transparent; border:0px; cursor:pointer;}
.search .sLabel{padding-left:2px; margin-top:7px;}
.search .sLabel a{margin-right:12px;}
.nav{height:37px; line-height:37px; font-size:14px; background:url(../images/bg_nav.gif) repeat-x 0px -42px; zoom:1;}
.nav .inner1_nav{background:url(../images/bg_nav.gif) no-repeat;}
.nav .inner2_nav{background:url(../images/bg_nav.gif) no-repeat right -84px; padding:0px 17px 0px 35px;}
.nav a{color:#FFF;}
.nav a:hover{color:#FFF;}
.nav .more{float:right; width:45px;}
.nav .more .moreBtn .icons{float:right; width:14px; height:37px; background:url(../images/bg_nav.gif) no-repeat 0px -273px;}
.nav .main{zoom:1;}
.nav .main li{float:left;}
.nav .main a{float:left;}
.nav .main span{float:left; padding-left:40px; cursor:pointer;}
.nav .main em{float:left; padding-right:40px; cursor:pointer;}
.nav .main li.cur a,.nav .main a:hover{height:44px; position:relative; margin:-3px 0px -4px; background:url(../images/bg_nav.gif) repeat-x 0px -175px;}
.nav .main li.cur span,.nav .main a:hover span{background:url(../images/bg_nav.gif) no-repeat 0px -126px;}
.nav .main li.cur em,.nav .main a:hover em{background:url(../images/bg_nav.gif) no-repeat right -224px; padding-top:3px; height:41px;}
.body{margin-top:8px;}
.poster{margin-top:8px;}
.catalog{float:left; width:245px;}
.catalog .tit{height:31px; line-height:31px; text-align:center;}
.catalog .tit li{float:left; width:123px; display:inline;}
.catalog .tit a{display:block; background:url(../images/bg_tit_catalog.gif) no-repeat; zoom:1;}
.catalog .tit li.cur a{position:relative; height:32px; margin-bottom:-1px; font-weight:bold; background-position:0px -36px;}
.catalog .tit li.cur a:hover{color:#000;}
.catalog .con{border:1px solid #cbcbcb;}
.catalog .con ul{padding:4px 8px 30px; display:none;}
.catalog .con li{border-bottom:1px solid #e9e9e9; padding:11px 2px;}
.catalog .con li.last{border-bottom:0px;}
.catalog .con div{font-size:14px; font-weight:bold; margin-bottom:3px; padding:0px 5px;}
.catalog .con a{display:inline-block; vertical-align:top; margin:2px 2px 0px 0px; padding:0px 5px;}
.catalog .con a:hover{background-color:#cb0000; color:#FFF;}
.productCell{padding-left:1px;}
.productCell li{float:left; border:1px solid #f3f3f3; margin:-1px 0px 0px -1px; display:inline; overflow:hidden;}
.productCell li div{height:144px; overflow:hidden;}
.productCell li div img{margin:0px auto;}
.productCell li ul{padding:0px 16px;}
.productCell li ul li{float:none; border:0px; margin:0px; display:block; width:auto!important; height:18px!important;}
.productCell li ul li.name{margin-bottom:4px; text-align:center;}
.productCell li ul li.price{color:#666;}
.productCell li ul li.price em{text-decoration:line-through;}
.productCell li ul li.price b{color:#ff0000;}
.productCell li ul li.sold b{color:#059105;}
.productCell li .btn{display:block; vertical-align:top; width:82px; height:24px; text-align:center; line-height:24px; color:#FFF; margin:5px auto 0px; background:url(../images/icons.gif) no-repeat 0px -190px;}
.productCell li a.btn:hover{color:#FFF;}
.footer{margin-top:12px;}
.footer .helpInfo{padding:10px 10px 20px 0px; background-color:#930101;}
.footer .helpInfo .sign{float:left; width:250px; text-align:center; padding-top:17px;}
.footer .helpInfo .sign dt{width:202px; height:27px; overflow:hidden; text-indent:-9999px; margin:0px auto; background:url(../images/bg_sign_helpInfo.gif) no-repeat;}
.footer .helpInfo .sign dd{font-size:14px; line-height:24px; font-family:微软雅黑; color:#FFF; margin-top:6px;}
.footer .helpInfo .list{float:right; width:648px; background-color:#FFF; padding:7px 0px 11px 72px;}
.footer .helpInfo .list .section{float:left; width:216px;}
.footer .helpInfo .list .section .icons{width:38px; height:46px;}
.footer .helpInfo .list .section .inner_section{float:right; width:162px;}
.footer .helpInfo .list .section .tit{font-size:14px; font-family:微软雅黑; font-weight:bold; margin-top:2px;}
.footer .helpInfo .list .section .con{margin-top:3px; line-height:24px;}
.footer .helpInfo .list .rookie .icons{background-position:0px -44px;}
.footer .helpInfo .list .pay .icons{background-position:-43px -44px;}
.footer .helpInfo .list .service .icons{background-position:-86px -44px;}
.footer .copyInfo{text-align:center; padding:21px 0px;}

.home .rec{float:right; width:729px;}
.home .rec ul{margin:-1px 0px 0px -1px;}
.home .rec li{border:1px solid #f3f3f3; border-width:1px 0px 0px 1px; float:left;}
.home .rec li.fr{float:right;}
.home .list{margin-top:-7px;}
.home .list .section{margin-top:13px;}
.home .list .imgList{float:left; width:729px;}
.home .list .imgList .tit{height:31px; line-height:31px; border-bottom-width:5px; border-bottom-style:solid; padding:0px 23px 0px 7px; background-color:#f1f1f1;}
.home .list .imgList .tit .fr{float:right;}
.home .list .imgList .tit .fr span{margin:0px 10px;}
.home .list .imgList .tit .inner_tit{float:left;}
.home .list .imgList .tit .inner_tit .icons{width:4px; height:31px; background:url(../images/bg_tit_list.gif) no-repeat;}
.home .list .imgList .tit .inner_tit span{float:left; font-size:14px; font-weight:bold; color:#FFF; padding:0px 34px;}
.home .list .imgList .c_red{border-bottom-color:#930101;}
.home .list .imgList .c_red .inner_tit .fl{background-position:0px 0px;}
.home .list .imgList .c_red .inner_tit .fr{float:left; background-position:0px -36px;}
.home .list .imgList .c_red .inner_tit span{background-color:#930101;}
.home .list .imgList .c_green{border-bottom-color:#9aaa30;}
.home .list .imgList .c_green .inner_tit .fl{background-position:0px -72px;}
.home .list .imgList .c_green .inner_tit .fr{float:left; background-position:0px -108px;}
.home .list .imgList .c_green .inner_tit span{background-color:#9aaa30;}
.home .list .imgList .productCell li{width:181px; height:206px;}
.home .list .txtList{float:right; width:240px;}
.home .list .txtList .tit{height:36px; line-height:36px; text-align:center; font-size:14px; font-weight:bold; color:#FFF; background-color:#930101;}
.home .list .txtList .con{padding:13px 0px 11px 24px; background-color:#f3f3f3; line-height:27px;}
.home .list .txtList .con b.icons{width:9px; height:9px; margin:9px 8px 0px 0px; background-position:-9px 0px;}
.home .list .txtList .con a{margin-right:4px;}
.home .list .txtList .con em.icons{float:none; display:inline-block; width:16px; height:27px; vertical-align:top; *vertical-align:middle; margin-left:2px;}
.home .list .txtList .con em.yHat{background-position:-129px -1px;}
.home .list .txtList .con em.bHat{background-position:-129px -34px;}

.product .lside{float:left; width:245px;}
.product .catalog{float:none;}
.product .productPoster{position:relative; display:block; vertical-align:top; margin-top:8px; zoom:1; *margin-bottom:-4px;}
.product .productPoster .posterInfo{position:absolute; right:0px; bottom:0px; width:100%; _right:-1px; *bottom:4px;}
.product .productPoster .price{display:block; text-align:right; padding-right:12px; font-size:20px; font-family:Arial; color:#666;}
.product .productPoster .price em{color:#fb0009;}
.product .productPoster .opacity{float:right; padding:3px 10px; color:#FFF; text-align:right; background:url(../images/bg_opacity.png) repeat;}
.product .productPoster .name{display:block; font-size:14px; font-weight:bold; vertical-align:top;}
.product .productPoster .sold{display:block;}
.product .productPoster .sold em{color:#cbcfd2;}
.product .rside{float:right; width:729px;}
.product h1{font-size:14px; font-weight:bold; margin-top:12px;}
.product .info{margin-top:12px;}
.product .info img{float:left; border:1px solid #cdcdcd;}
.product .info ul{padding:17px 0px 0px 347px; line-height:30px;}
.product .info ul em{font-weight:bold; text-decoration:line-through;}
.product .info ul b{font-size:24px; font-weight:bold; color:#ff6600; font-family:Arial;}
.product .info ul a{color:#0066cc;}
.product .info ul a:hover{color:#cb0000;}
.product .info .btn{padding-left:367px; margin-top:22px;}
.product .info .btn a{width:125px; height:36px; text-indent:-9999px; margin-right:22px; display:inline;}
.product .info .btn .btn_buy{background-position:0px -108px}
.product .info .btn .btn_plan{background-position:0px -149px}
.product .filter{margin-top:9px; border:1px solid #d6d6d6; background-color:#f3f3f3; padding:11px 25px 24px;}
.product .filter li{padding-top:16px;}
.product .filter li *{display:inline-block; margin-top:2px; vertical-align:top;}
.product .filter a{padding:0px 5px; margin:2px 2px 0px;}
.product .filter a:hover{color:#FFF; background-color:#cb0000;}
.product .list{margin-top:9px;}
.product .list .tit{height:34px; line-height:34px; border:1px solid #e4e4e4; border-bottom:3px solid #930101; background-color:#f7f7f7; padding:0px 213px 0px 13px;}
.product .list .tit ul{float:right; padding-top:6px;}
.product .list .tit ul li{float:left; margin-left:14px; display:inline;}
.product .list .tit ul a{float:left; height:23px; line-height:23px; border:1px solid #c3c3c3; background-color:#FFF; padding:0px 9px;}
.product .list .tit ul .icons{float:none; display:inline-block; vertical-align:top; *vertical-align:middle; width:5px; height:23px; margin-left:4px;}
.product .list .tit ul .up{background-position:-140px -104px;}
.product .list .tit ul .down{background-position:-140px -76px;}
.product .list .tit ul a.cur{background-color:#930101; border-color:#930101; color:#FFF;}
.product .list .tit ul a.cur .up{background-position:-140px -160px;}
.product .list .tit ul a.cur .down{background-position:-140px -132px;}
.product .list .tit div{font-size:14px; font-weight:bold;}
.product .list .productCell li{width:181px; height:256px;}