        <div class="catalog" id="catalog">
          <ul class="tit">
            <li class="cur"><a href="javascript:void(0)" onFocus="this.blur()">按类别</a></li>
            <li style="margin-left:-1px;display:none"><a href="javascript:void(0)" onFocus="this.blur()">按部位</a></li>
          </ul>
          <div class="con">
            <ul style="display:block;">
              <?php foreach($cates as $cate){ ?>
              <li>
              <div><?php echo $cate['tag']?></div>
                <?php foreach($cate['children'] as $sub){ ?>
                <a<?php
                    if (isset($product_active) && $product_active == $sub['id']):
                        echo " class=\"on\"";
                    endif;
                    ?> href="/tag/<?php echo $sub['id']?>"><?php echo $sub['tag'] ?></a>
                <?php } ?>
              </li>
              <?php } ?>
            </ul>
            <ul>
              <?php foreach($cates as $cate){ ?>
              <li>
              <div><?php echo $cate['tag']?></div>
                <?php foreach($cate['children'] as $sub){ ?>
                 <a href="/tag/<?php echo $sub['id']?>"><?php echo $sub['tag'] ?></a>
                <?php } ?>
              </li>
              <?php } ?>
            </ul>
          </div>
        </div>
