    <div class="body home">
      <div class="clearfix">
        <?php echo $this->element('leftnav'); ?>
        <div class="rec">
            <ul class="clearfix">
              <li>
                <?php echo $this->Html->ad($ads[1], array('baseurl'=>$baseurl)); ?>
              </li>
              <li class="fr">
                <?php echo $this->Html->ad($ads[2], array('baseurl'=>$baseurl)); ?>
              </li>
              <li>
                <?php echo $this->Html->ad($ads[3], array('baseurl'=>$baseurl)); ?>
              </li>
              <li>
                <?php echo $this->Html->ad($ads[4], array('baseurl'=>$baseurl)); ?>
              </li>
              <li>
                <?php echo $this->Html->ad($ads[5], array('baseurl'=>$baseurl)); ?>
              </li>
            </ul>
        </div>
      </div>
      <?php echo $this->Html->ad($ads[6], array('class'=>'poster', 'baseurl'=>$baseurl)); ?>
      <div class="list clearfix">
        <div class="imgList">
          <div class="section" id="recommend">
            <div class="tit c_red clearfix">
              <div class="fr">
                <?php foreach($recommend_keys as $k => $recommend){
                  $recommend_keys[$k] = "<a href=\"javascript:void(0);\">$recommend</a>";
                }
                echo implode('<span>|</span>', $recommend_keys);
                 ?>
              </div>
              <div class="inner_tit">
                <b class="icons fl"></b>
                <span>推荐商品</span>
                <b class="icons fr"></b>
              </div>
            </div>
            <?php foreach($recommends as $recommend): ?>
            <ul class="productCell clearfix" style="display:none;">
              <?php foreach($recommend as $i): ?>
                <?php $this->Html->product($i); ?>
              <?php endforeach; ?>
            </ul>
            <?php endforeach; ?>
          </div>
          <div class="section" id="hot">
            <div class="tit c_green clearfix">
              <div class="fr">
                <?php foreach($hot_keys as $k => $hot){
                  $hot_keys[$k] = "<a href=\"javascript:void(0);\">$hot</a>";
                }
                echo implode('<span>|</span>', $hot_keys);
                 ?>
              </div>
              <div class="inner_tit">
                <b class="icons fl"></b>
                <span>热门商品</span>
                <b class="icons fr"></b>
              </div>
            </div>
            <?php foreach($hots as $k => $hot): ?>
            <ul class="productCell clearfix" style="display:none;">
              <?php foreach($hot as $i): ?>
                <?php $this->Html->product($i); ?>
              <?php endforeach; ?>
            </ul>
            <?php endforeach; ?>
          </div>
        </div>
        <div class="txtList">
          <div class="section">
            <div class="tit">天猫店铺TOP10</div>
            <ul class="con">
              <?php 
              foreach($tmall_top10_shops as $shop):
                $shop = $shop['Shop'];
              ?>
              <li>
                <b class="icons"></b><a target="_blank" href="<?php echo $shop['click_url'];?>"><?php echo $shop['shop_title'];?></a><em class="icons" style="background-image:url('/images/<?php echo $this->Html->seller_heart($shop['seller_credit']); ?>');"></em>
              </li>
              <?php endforeach; ?>
            </ul>
          </div>
          <?php echo $this->Html->ad($ads[7], array('baseurl'=>$baseurl)); ?>
          <div class="section">
            <div class="tit">Taobao店铺TOP10</div>
            <ul class="con">
              <?php 
              foreach($taobao_top10_shops as $shop):
                $shop = $shop['Shop'];
              ?>
              <li>
                <b class="icons"></b><a target="_blank" href="<?php echo $shop['click_url'];?>"><?php echo $shop['shop_title'];?></a><em class="icons" style="background-image:url('/images/<?php echo $this->Html->seller_heart($shop['seller_credit']); ?>');"></em>
              </li>
              <?php endforeach; ?>
            </ul>
          </div>
          <?php echo $this->Html->ad($ads[8], array('baseurl'=>$baseurl)); ?>
        </div>
      </div>
    </div>
<script type="text/javascript">
var tab = function(id){
  var o = $('#'+id);
  var selected = null;
  var uls = o.children('ul');
  o.find('div.fr>a').each(function(i, obj){
    obj = $(obj);
    obj.mouseover(function(e){
      if(selected) selected.hide();
      console.log(uls[i]);
      selected = $(uls[i]);
      selected.show();
    });
    if(!i) obj.mouseover();
  });
};
$(document).ready(function(){
  tab('recommend');
  tab('hot');
})
</script>
