
    <?php echo $this->Html->ad($ads[9], array('class'=>'poster', 'baseurl'=>$baseurl)); ?>
    
    <div class="body product clearfix">
      <div class="lside">
        <?php echo $this->element('leftnav'); ?>
        <?php echo $this->Html->ad($ads[10], array('a_class'=>'productPoster', 'baseurl'=>$baseurl, 'after'=>$this->Html->item())); ?>
        <?php echo $this->Html->ad($ads[11], array('a_class'=>'productPoster', 'baseurl'=>$baseurl, 'after'=>$this->Html->item())); ?>
        <?php echo $this->Html->ad($ads[12], array('a_class'=>'productPoster', 'baseurl'=>$baseurl, 'after'=>$this->Html->item())); ?>
      </div>
      <div class="rside">
          <?php 
          if($item){
              echo $this->element('item', array('item'=>$item));
          }
          echo $this->Html->createLink($tree, $active);
          ?>
        <div class="list">
          <div class="tit">
            <ul>
              <li><a class="cur" href="<?php echo $this->Html->pageLink($pageurl, ''); ?>">价格<b class="icons up"></b></a></li>
              <li><a href="">销量<b class="icons down"></b></a></li>
              <li><a href="">信用<b class="icons down"></b></a></li>
              <li><a href="">时间<b class="icons up"></b></a></li>
            </ul>
            <div>共有&nbsp;<?php echo $items_count; ?>件商品</div>
          </div>
          <ul class="productCell clearfix">
			<?php foreach($items as $i): ?>
            <li>
              <div>
                <a href="<?php echo $i['click_url']; ?>" target="_blank">
                  <img src="<?php echo $i['pic_url']; ?>" style="max-width:175px;">
                </a>
              </div>
              <ul>
                <li class="name"><a href="<?php echo $i['click_url']; ?>" target="_blank" title="<?php echo $i['title'];?>" ><?php echo $i['title'];?></a></li>
                <li class="price">装备店价：<b>￥<?php echo $i['price']?></b></li>
                <li class="sold">库存：<b><?php echo $i['num']; ?></b>&nbsp;件</li>
                <li class="owner">掌柜：<a href="<?php echo $i['shop_click_url'];?>" target="_blank"><?php echo $i['nick']; ?></a></li>
              </ul>
              <a class="btn" href="<?php echo $i['shop_click_url'];?>"  target="_blank">去店铺看看</a>
            </li>
			<?php endforeach; ?>
          </ul>
        </div>
      </div>
    </div>
