
    <?php echo $this->Html->ad($ads[9], array('class'=>'poster', 'baseurl'=>$baseurl)); ?>
    
    <div class="body product clearfix">
      <div class="lside">
        <?php echo $this->element('leftnav'); ?>
        <?php echo $this->Html->ad($ads[10], array('a_class'=>'productPoster', 'baseurl'=>$baseurl, 'after'=>$this->Html->item())); ?>
        <?php echo $this->Html->ad($ads[11], array('a_class'=>'productPoster', 'baseurl'=>$baseurl, 'after'=>$this->Html->item())); ?>
        <?php echo $this->Html->ad($ads[12], array('a_class'=>'productPoster', 'baseurl'=>$baseurl, 'after'=>$this->Html->item())); ?>
      </div>
      <div class="rside">
          <?php 
          if($item){
              echo $this->element('item', array('item'=>$item));
          } 
          ?>

          <ul class="filter"<?php if(!$item){echo " style=\"margin:0\"";} ?>>

          <li><b>商品分类：</b>
          <a<?php if(!$path['#product']['active']):?> class="on"<?php endif; ?> href="<?php echo $this->Html->createLink($path['#product']['content'], $path['#product']['active']);?>">全部</a>
          <?php 
          foreach($path['#product']['content'] as $p): ?>
          <a<?php if($p['id']==$path['#product']['active']):?> class="on"<?php endif; ?> href="<?php echo $this->Html->createLink($path['#product']['content'], $path['#product']['active'], $p['id']);?>"><?php echo $p['tag']; ?></a>
          <?php endforeach; ?>
          </li>
          <li><b>所属游戏：</b>
          <a<?php if(!$path['#game']['active']):?> class="on"<?php endif; ?> href="<?php echo $this->Html->createLink($path, $path['#game']['active']);?>">全部</a>
          <?php foreach($path['#game']['content'] as $p): ?>
              <a<?php if($p['id']==$path['#game']['active']):?> class="on"<?php endif; ?> href="<?php echo $this->Html->createLink($path, $path['#game']['active'], $p['id']);?>"><?php echo $p['tag']; ?></a>
          <?php endforeach; ?>
          </li>
          <li><b>价格区间：</b>
          <a<?php if(!$path['#price']['active']):?> class="on"<?php endif; ?> href="<?php echo $this->Html->createLink($path, $path['#price']['active']);?>">全部</a>
          <?php foreach($path['#price']['content'] as $p): ?>
              <a<?php if($p['id']==$path['#price']['active']):?> class="on"<?php endif; ?> href="<?php echo $this->Html->createLink($path, $path['#price']['active'], $p['id']);?>"><?php echo $p['tag']; ?></a>
          <?php endforeach; ?>
          </li>
        </ul>
        <div class="list">
          <div class="tit">
            <ul>
              <li><a class="cur" href="">价格<b class="icons up"></b></a></li>
              <li><a href="">销量<b class="icons down"></b></a></li>
              <li><a href="">信用<b class="icons down"></b></a></li>
              <li><a href="">时间<b class="icons up"></b></a></li>
            </ul>
            <div>共有&nbsp;133件商品</div>
          </div>
          <ul class="productCell clearfix">
            <li>
              <div>
                <a href="">
                  <img src="temp/img_product.jpg">
                </a>
              </div>
              <ul>
                <li class="name"><a href="">三星S5380D接受挑战，将</a></li>
                <li class="price">装备店价：<b>￥2279.00</b></li>
                <li class="sold">已售：<b>3235</b>&nbsp;件</li>
                <li class="owner">掌柜：没约旗舰店</li>
              </ul>
              <a class="btn" href="">去店铺看看</a>
            </li>
            <li>
              <div>
                <a href="">
                  <img src="temp/img_product.jpg">
                </a>
              </div>
              <ul>
                <li class="name"><a href="">三星S5380D接受挑战，将</a></li>
                <li class="price">装备店价：<b>￥2279.00</b></li>
                <li class="sold">已售：<b>3235</b>&nbsp;件</li>
                <li class="owner">掌柜：没约旗舰店</li>
              </ul>
              <a class="btn" href="">去店铺看看</a>
            </li>
            <li>
              <div>
                <a href="">
                  <img src="temp/img_product.jpg">
                </a>
              </div>
              <ul>
                <li class="name"><a href="">三星S5380D接受挑战，将</a></li>
                <li class="price">装备店价：<b>￥2279.00</b></li>
                <li class="sold">已售：<b>3235</b>&nbsp;件</li>
                <li class="owner">掌柜：没约旗舰店</li>
              </ul>
              <a class="btn" href="">去店铺看看</a>
            </li>
            <li>
              <div>
                <a href="">
                  <img src="temp/img_product.jpg">
                </a>
              </div>
              <ul>
                <li class="name"><a href="">三星S5380D接受挑战，将</a></li>
                <li class="price">装备店价：<b>￥2279.00</b></li>
                <li class="sold">已售：<b>3235</b>&nbsp;件</li>
                <li class="owner">掌柜：没约旗舰店</li>
              </ul>
              <a class="btn" href="">去店铺看看</a>
            </li>
            <li>
              <div>
                <a href="">
                  <img src="temp/img_product.jpg">
                </a>
              </div>
              <ul>
                <li class="name"><a href="">三星S5380D接受挑战，将</a></li>
                <li class="price">装备店价：<b>￥2279.00</b></li>
                <li class="sold">已售：<b>3235</b>&nbsp;件</li>
                <li class="owner">掌柜：没约旗舰店</li>
              </ul>
              <a class="btn" href="">去店铺看看</a>
            </li>
            <li>
              <div>
                <a href="">
                  <img src="temp/img_product.jpg">
                </a>
              </div>
              <ul>
                <li class="name"><a href="">三星S5380D接受挑战，将</a></li>
                <li class="price">装备店价：<b>￥2279.00</b></li>
                <li class="sold">已售：<b>3235</b>&nbsp;件</li>
                <li class="owner">掌柜：没约旗舰店</li>
              </ul>
              <a class="btn" href="">去店铺看看</a>
            </li>
            <li>
              <div>
                <a href="">
                  <img src="temp/img_product.jpg">
                </a>
              </div>
              <ul>
                <li class="name"><a href="">三星S5380D接受挑战，将</a></li>
                <li class="price">装备店价：<b>￥2279.00</b></li>
                <li class="sold">已售：<b>3235</b>&nbsp;件</li>
                <li class="owner">掌柜：没约旗舰店</li>
              </ul>
              <a class="btn" href="">去店铺看看</a>
            </li>
            <li>
              <div>
                <a href="">
                  <img src="temp/img_product.jpg">
                </a>
              </div>
              <ul>
                <li class="name"><a href="">三星S5380D接受挑战，将</a></li>
                <li class="price">装备店价：<b>￥2279.00</b></li>
                <li class="sold">已售：<b>3235</b>&nbsp;件</li>
                <li class="owner">掌柜：没约旗舰店</li>
              </ul>
              <a class="btn" href="">去店铺看看</a>
            </li>
            <li>
              <div>
                <a href="">
                  <img src="temp/img_product.jpg">
                </a>
              </div>
              <ul>
                <li class="name"><a href="">三星S5380D接受挑战，将</a></li>
                <li class="price">装备店价：<b>￥2279.00</b></li>
                <li class="sold">已售：<b>3235</b>&nbsp;件</li>
                <li class="owner">掌柜：没约旗舰店</li>
              </ul>
              <a class="btn" href="">去店铺看看</a>
            </li>
            <li>
              <div>
                <a href="">
                  <img src="temp/img_product.jpg">
                </a>
              </div>
              <ul>
                <li class="name"><a href="">三星S5380D接受挑战，将</a></li>
                <li class="price">装备店价：<b>￥2279.00</b></li>
                <li class="sold">已售：<b>3235</b>&nbsp;件</li>
                <li class="owner">掌柜：没约旗舰店</li>
              </ul>
              <a class="btn" href="">去店铺看看</a>
            </li>
            <li>
              <div>
                <a href="">
                  <img src="temp/img_product.jpg">
                </a>
              </div>
              <ul>
                <li class="name"><a href="">三星S5380D接受挑战，将</a></li>
                <li class="price">装备店价：<b>￥2279.00</b></li>
                <li class="sold">已售：<b>3235</b>&nbsp;件</li>
                <li class="owner">掌柜：没约旗舰店</li>
              </ul>
              <a class="btn" href="">去店铺看看</a>
            </li>
            <li>
              <div>
                <a href="">
                  <img src="temp/img_product.jpg">
                </a>
              </div>
              <ul>
                <li class="name"><a href="">三星S5380D接受挑战，将</a></li>
                <li class="price">装备店价：<b>￥2279.00</b></li>
                <li class="sold">已售：<b>3235</b>&nbsp;件</li>
                <li class="owner">掌柜：没约旗舰店</li>
              </ul>
              <a class="btn" href="">去店铺看看</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
